* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #13293D;
}

body {
    background-color: #EEEE;
}

main {
    width: 71%;
    height: auto;
    position: relative;
    float: left;
    left: 14.5%;
    top: 55px;
    background-color: #fff;
}

section {
    width: 100%;
    height: 400px;
    padding-top: 55px;
}

.logo {
    background-color: #13293D;
    text-align: center;
    padding: 8%;
}

.logo img {
    max-width: 300px;
    /* Máximo da largura da imagem */
    width: 100%;
    max-height: 300px;
    /* Máximo da altura da imagem */
    min-height: auto;
    /* Mínimo da altura, por padrão “auto” */
    background-size: 100%;
    background-repeat: no-repeat;
}

.categoria {
    position: relative;
    float: left;
    width: 90%;
    height: 360px;
    margin-left: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.conteudo {
    position: relative;
    float: left;
    width: 100%;
    height: 300px;
}

.card {
    width: 30%;
    height: 350px;
    margin-left: 3%;
    position: relative;
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

#noticia1,
#noticia2,
#noticia3 {
    position: relative;
    float: left;
    height: 300px;
    width: 50%;
    margin-left: 25%;
}

.texto {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
}

.texto p {
    font-size: 1.1vmax;
}

.card:hover {
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card img {
    position: relative;
    float: left;
    width: 100%;
    height: 220px;
}

.card .container {
    height: 80px;
}

.container {
    padding: 2px 16px;
}

.slider-controls {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 0px 10px;
}

.arrow {
    background: #efefef;
    width: 50px;
    height: 50px;
    text-align: center;
    margin-top: 10px;
    margin-left: 2%;
    margin-bottom: 10px;
    transition: all .2s;
}

.arrow h6 {
    margin-top: 28%;
}

.arrow:hover {
    cursor: pointer;
    background: #00aac1;
    color: white;
}

.footer {
    width: 100%;
    height: 197px;
    position: relative;
    float: left;
    margin-top: 80px;
    color: #E8F1F2;
    background-color: #13293D;
}

.footer p {
    color: white;
}

@media only screen and (min-width: 300px) and (max-width: 799px) {
    section {
        height: 440px;
    }
    .short {
        height: 420px;
        margin-bottom: 0;
        margin-top: 0;
    }
    .card {
        width: 90%;
        height: 300px;
        margin-left: 5%;
        margin-top: 10px;
        position: relative;
        float: left;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
    }
}